@font-face {
    font-family: "Norse";
    src: url('fonts/Norse-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --left-container-width: 35vw;
    --leaf-green-color: #596d48;
    --light-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

body {
    height: 100vh;
    font-family: Arial, sans-serif;
    display: flex;
    overflow: hidden;
}

#left-container {
    width: var(--left-container-width);
    height: 100%;
    position: relative;
}

#right-container {
    width: calc(100% - var(--left-container-width));
    margin: 0 auto;
    background-color: hsl(0, 0%, 97%);
}

#bg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#odin-section > img {  
     width: 6.5rem;
}

#odin-section {
    font-family: 'Norse';
    color: white;
    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;

    left: 0;
    right: 0;
    width: 100%;
    top: 20%;
    position: absolute;

    padding: 0.5rem;
    font-size: 3rem;
}

#unsplash-ref {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
}

#unsplash-ref, #unsplash-ref > a {
    color: white;
}

#intro-section {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 4em 1em 0.5em;
}

#intro-section p:last-child {
    margin-block: 1.5rem 2rem;
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    text-transform: uppercase;
    color: hsl(0, 0%, 20%);
    font-size: 0.8rem;
    font-weight: 600;
}

#form-container {
    background-color: white;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

fieldset {
    border: none;
    display: flex;
    flex-wrap: wrap;
    row-gap: 2em;
    column-gap: 1.5em;
}

#form-title {
    font-size: 1.5rem;
    font-weight: 600;
}

input {
    border: 1px solid #e5e7eb;
    border-radius: 4px;
    padding: 4px 8px;
    outline: none;
}

input:focus {
    border-color: blue;
    box-shadow: var(--light-shadow);
}



input:invalid {
    border-color: red;
}

#sign-up-section {
    margin-left: 0.5em;
    margin-top: 0.5em;
}

.btn {
    background-color: var(--leaf-green-color);
    color: white;

    padding: 1em 3em;

    border: none;
    border-radius: 8px;
    box-shadow: var(--light-shadow);
    cursor: pointer;
}

.btn, #login {
    margin: 1em;
    font-weight: 500;
}

#login a {
    text-decoration: none;
    color: var(--leaf-green-color);
    font-weight: bold;
}